*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
header{
    background-color: #cccccc;
    min-height: 70px;
    padding: 15px;
}
main{
    background-color: #dddddd;
    min-height: 300px;
    padding: 7.5px 15px;
}
footer{
    background-color: #cccccc;
    min-height: 70px;
    padding: 15px;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.login-form {
    width: 100%;
    max-width: 400px;
    margin: 30px auto;
    background-color: #cccccc;
    padding: 15px;
    border: 2px double #240fe7;
    border-radius: 10px;
}
h1{
    color: #240fe7;
    font-size: 35px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}
.content{
    color: #240fe7;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
}
.data
{
    font-size: 20px;
    margin-bottom: 40px;
    text-align: left;
    margin-top: 10px;
}
.login_box{
    margin-bottom: 10px;
}
.login_box input{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
}
.login{
    text-align: center;
    margin-top: 15px;
}
.login button{
    padding: 7.5px 15px;
    border-radius: 2px;
    color: #ffffff;
    background-color: #240fe7;
    border: none;
    outline: none;
}

.add {
    text-align: left;
    margin-top: 15px;
}
.button {
    background-color: #240fe7;
    color: rgb(239, 246, 246);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    }
      
    .button:hover {
    opacity: 0.8;
    }
.divide {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

a {
    text-align: center;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    text-decoration: none;
    color: #17039a;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    
}
.back {
    color: #12039a;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.error{
    text-align: right;
    margin-bottom: 10px;
}


